body{
  margin:0;
}
.fixed{
  display: inline-flex;
  width:100%;
}
.col1{
   width:30%;
   margin-left: 0;
}
.col2{
  width:40%;

}
.col3{
    width:30%;
    margin-right:0;
    display:inline-grid;
}
.col1, .col2, .col3{
  margin:0;
  background-color: skyblue;
  color:blue;

}
